<!--<h3>ジャンル検索を部分テンプレート</h3>-->

<text class="top_explain">
  ようこそ、ながのCAKEへ！<br/>
  このサイトは、ケーキ販売のECサイトになります。<br/>
  会員でない方でも商品の閲覧はできますが、<br/>
  購入には会員登録が必要になります。  
</text>

<h2>新着商品</h2>
<!--新しい商品4つeach使う-->
<!--リンクで商品一覧のindex画面-->


  