<h2 class="offset-md-2 col-md-auto">管理者ログイン</h2>

<div class="row">
  <div class="offset-md-5 col-md-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p class="mr-1">Email
        <!--< %= f.label :email , class:"mr-2"%>-->
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p></p>
      </div>
      <div class="field">
        <p>password
        <!--< %= f.label :password %>-->
        <p><%= f.password_field :password, autocomplete: "current-password" %></p></p>
      </div>

      <!--< % if devise_mapping.rememberable? %>-->
      <!--  <div class="field">-->
      <!--    < %= f.check_box :remember_me %>-->
      <!--    < %= f.label :remember_me %>-->
      <!--  </div>-->
      <!--< % end %>-->

      <div class="actions text-end">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
    <!--< %= render "admins/shared/links" %>-->
