<h2>商品一覧</h2>
<tag class="add_items">
<table>
  <th>商品ID</th>
  <th>商品名</th>
  <th>税抜価格</th>
  <th>ジャンル</th>
  <th>ステータス</th>　<!--０:販売中 1:販売停止中-->
  
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</table>

<!--ページネーション-->
