<!--ジャンル検索　部分テンプレート-->
<h2>商品一覧(全x件)</h2>
<% @items.each do |item|%>
<table>
  <tr>
    <td>
      <%= link_to item_path(item) do %>
      <%= attachment_image_tag item, :image, :fill, 250, 200, format:'jpeg', fallback: "PAK57_ichigonocake_TP_V4 (1).jpg", size:'150x100' %>
    </td>
    <td>
      <%= link_to item.name, item_path(item) %>
    </td>
    <td>
      ¥<%= item.price.floor %>
    </td>
      <% end %>
  </tr>
</table>
<% end %>
<!--ページネーション-->